.cp-mega-menu>ul>li>a {
    line-height: 50px;
    color: #222222;
    text-align: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.no-padding{
    margin: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}