<div class="card" id="content">
    <div class="card-heading">

    </div>
    <div class="card-body">
        <div class="row row-sm">
            <table class="table table-bordered table-hover bg-white">
                <thead>

                <tr>
                    <th>Vaccine</th>
                    <th>Quantity</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>BCG</td>
                    <td>658</td>
                </tr>

                <tr>
                    <td>OPV</td>
                    <td>3811</td>
                </tr>

                <tr>
                    <td>DTP-HepB-Hib</td>
                    <td>3143</td>
                </tr>

                <tr>
                    <td>measles virus vaccine</td>
                    <td>1616</td>
                </tr>

                <tr>
                    <td>Rota</td>
                    <td>2118</td>
                </tr>

                <tr>
                    <td>Measles Rubella</td>
                    <td>1066</td>
                </tr>

                <tr>
                    <td>PCV-13</td>
                    <td>3151</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>